* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #360550;
    margin: 30px;
}
.header {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    color: white;
}
.app-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    height: 100%;
}

.widget-container {
    width: 250px;
    background-color: #7010a3;
    border: 4px solid #a035da;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 300px;
    height: 100%;
    overflow-y: scroll;
}

.widget {
    background-color: #b849f4;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    user-select: none; /* Prevents text selection on drag */
}

.widget:active {
    cursor: grabbing;
    opacity: 0.6; /* Slightly transparent while dragging */
}

h2 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.count {
    padding: 4px 8px;
    margin-right: 2px;
    border-radius: 20px;  
    background: white;
    color: #9b16e3;  
}